# HERE IS JUST THE CONFIGURATION EXAMPLE FOR THE APP
# DO NOT USING THIS FILE AS YOUR CONFIGURATION DIRECTLY
# PLEASE COPY THIS FILE TO configs/config.yaml AND MODIFY IT

# server
server:
  port: ":8080"

# postgres
postgres:
  host: <database host>
  port: 5432
  database: "rednote"
  username: "postgres"
  password: "postgres"
  sslmode: verify-ca
  sslrootcert: "path to ssl root cert"
  sslcert: "path to ssl cert"
  sslkey: "path to ssl key"
redis:
  host: <redis host>
  port: 6379
  encrypt: true
jwt:
  secret: <JWT Secret Key>
app:
  otpsecret: LF2FSZBZMVZFGVDXO54DM2KOKRWWQQKLJJSS6VSOLFUVEVSQMYXVEWSOOVJWIYSH
amqpconfig:
  protocol: amqps
  host: <Rabbit MQ Host>
  port: 5672
  user: guest
  password: guest
  exchange: machinery_exchange
  exchangeType: direct
  bindingKey: machinery_task
  queue: machinery_tasks
  routingKey: ""
  consumerTag: ""
  workerPoolSize: 6
